.form {
  display: flex;
  background-color: #FAFAFA;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 10px;
}

.form__input {
  flex: 1;
  outline: none;
  transition: all .2s;
}

.form__input__case2 {
  width: auto;
  flex: 1;
  outline: none;
  transition: all .2s;
}

.form__input:focus {
  border: 1px solid #00d8ff;
}

.form__button {
  margin-left: 10px;
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #757575;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.form__button:hover {
  background-color: rgba(158,158,158,.2);
}

.form__button:active {
  background-color: rgba(158,158,158,.4);
}

.form__input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #757575;
  padding: .5em;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
}