.routes-list {
  position: relative;    
}

.routes-list__title{
  height: 40px;
  font-size: 25px;
  background-color: #00d8ff;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.routes-list__description-tag {
  position: absolute;
  width: 100px;
  left: -100px;
  top: 40px;
  background-color: #00d8ff;
  color: #222;
  text-align: right;
}

.routes-list__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #00d8ff;
}

.routes-list__reset-button {
  position: absolute;
  width: 100px;
  right: -100px;
  top: 40px;
  background-color: red;
  height: 60px;
  line-height: 20px;
  color: white;
  text-align: left;
  border: none;
  border-radius: 2px;
  margin: 0;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

.routes-list__reset-button:hover {
  background-color: purple;
}

.routes-list__reset-button:active {
  background-color: black;
}

.warning-panel__header {
  padding: 10px;
  color:red;
  text-align: center;
}

.warning-panel__advice {
  padding: 10px;
  color:black;
  text-align: center;
  font-size: 18px;
}

.warning-panel__line {
  padding: 20px;
  background-color: purple;
  color: black;
  text-align: center;
}