.routes-list {
  position: relative;    
}

.routes-list__title-line {
  display: flex;
  background-color: #00d8ff;
  justify-content: space-between;
}

.routes-list__title {
  font-size: 25px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.routes-list__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #00d8ff;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0 10px;
}

.warning-panel__header {
  padding: 10px;
  color:red;
  text-align: center;
}

.warning-panel__advice {
  padding: 10px;
  color:black;
  text-align: center;
  font-size: 18px;
}

.warning-panel__line {
  padding: 20px;
  background-color: purple;
  color: black;
  text-align: center;
}