@font-face {
  font-weight: normal;
  font-family: "Russo One";
  font-style: normal;
  src: url('./fonts/russo-one.woff2') format('woff2'),
  url('./fonts/russo-one.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Russo One', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-with-indent {
  text-indent: 10px;
}