@font-face {
  font-weight: normal;
  font-family: "Russo One";
  font-style: normal;
  src: url('./fonts/russo-one.woff2') format('woff2'),
  url('./fonts/russo-one.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Russo One', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 290px;
  background: rgb(20,61,89, 0.1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-with-indent {
  text-indent: 10px;
}

@media all and (max-width: 480px) {
  body {
    justify-content: flex-start;
    min-height: 100vh;
    background: #143D59;
  }
}